{% include 'base.html' %}
<!-- stem -->
{% block content %}
<!-- add code here  -->

<div>
  <h3 class="text-magenta">
    No profile with your details found create profile
  </h3>
</div>
<div style="margin-left: 20%; margin-right: 20%">
  <div class="dashboard-summery-two">
    <div class="item-icon bg-light-magenta">
      <i class="flaticon-classmates text-magenta"></i>
    </div>
    <div class="item-content">
      <div class="item-number"></div>
      <a href="{% url 'teacher-add' %}"
        ><div class="item-title">Create Profile</div></a
      >
    </div>
  </div>
</div>
{% endblock %}
