{% extends 'main.html' %}
<!-- vastin  -->
{% load static %}
<!-- frepo on the move -->
{% block content %}
<!-- section -->
<section class="main_full banner_section_top">
  <div class="container-fluid">
    <div class="row">
      <div class="full">
        <div class="slider_banner">
          <img
            class="img-responsive"
            src="{% static 'images/sidelogos.gif' %}"
            alt="#"
          />
          <div class="slide_cont">
            <div class="slider_cont_inner">
              <h3>Welcome To Firststep Schools</h3>
              <p>
                Center of exellence where Hard work is the secret to success and
                we employ children to do their best no matter what they face and
                become better people as they build there character for
                excellence
              </p>
              <a class="blue_bt" href="#">Read More</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end section -->

<!-- about section -->
<!-- end about section -->

<!-- section -->
<section class="layout_padding section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text_align_center">
        <div class="full heading_s1">
          <h2>Login</h2>
        </div>
        <div class="full">
          <p class="large">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 text_align_center">
        <div class="cours">
          <img
            class="img-responsive"
            src="{% static 'images/cour1.png' %}"
            alt="#"
          />
        </div>
        <h3>As Parents</h3>
        <p>
          adipiscing elit, sed do eiusmodaren tempor incididunt ut labore et
          dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
          exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          Duis aute irure dolor in re
        </p>
        <a style="width: 30px; height: 15px; color: blue; border-radius: 10px">
          <p style="color: rgb(24, 21, 182)">Login</p>
        </a>
      </div>

      <div class="col-md-4 text_align_center">
        <div class="cours">
          <img
            class="img-responsive"
            src="{% static 'images/cour2.png' %}"
            alt="#"
          />
        </div>
        <h3>As Students</h3>
        <p>
          adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
          ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
          irure dolor in re
        </p>
        <a style="width: 30px; height: 15px; color: blue; border-radius: 10px">
          <p style="color: rgb(24, 21, 182)">Login</p>
        </a>
      </div>

      <div class="col-md-4 text_align_center">
        <div class="cours">
          <img
            class="img-responsive"
            src="{% static 'images/cour3.png' %}"
            alt="#"
          />
        </div>
        <h3>As Techer</h3>
        <p>
          adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
          ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
          irure dolor in re
        </p>
        <a style="width: 30px; height: 15px; color: blue; border-radius: 10px">
          <p style="color: rgb(24, 21, 182)">Login</p>
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="full center">
          <a class="blue_bt" href="#">Login</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end section -->

<!-- section -->
<section class="layout_padding section">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 text_align_center">
        <div class="full heading_s1">
          <h2>School Times starts Weekly</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 cours_timging_bg">
        <div class="container">
          <div class="time_table">
            <ul>
              <li>Monday</li>
              <li>8 Am - 3 Pm</li>
            </ul>
            <ul>
              <li>Tuesday</li>
              <li>8 Am - 3 Pm</li>
            </ul>
            <ul>
              <li>Wednesday</li>
              <li>8 Am - 3 Pm</li>
            </ul>
            <ul>
              <li>Thursday</li>
              <li>8 Am - 3 Pm</li>
            </ul>
            <ul>
              <li>Friday</li>
              <li>8 Am - 12:30 Pm</li>
            </ul>
            <!-- <ul><li>Saturday</li><li>9 Am - 5 Pm</li></ul>
                          <ul><li>Sunday</li><li>Holiday</li></ul> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end section -->

<!-- section -->
<section class="layout_padding section">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 text_align_center">
        <div class="full heading_s1">
          <h2>Our Vision</h2>
        </div>
        <div class="full">
          <p class="large">
            In ad minim veniam, quis nostrud exercitation ullamco laboris nisi
            ut aliquip ex ea commodo<br />consequat. Duis aute irure dolor in re
          </p>
        </div>
      </div>
      <div class="col-md-12 testimonial">
        <div class="full text_align_center">
          <img src="{% static 'images/testimon.png' %}" alt="#" />
          <h3>
            <span class="theme_color_text">koluda</span><br /><small
              >Student</small
            >
          </h3>
        </div>
        <div class="full margin_top_30 text_align_center">
          <h4>I have successfully complated</h4>
          <p>
            adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud<br />exercitation
            ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
            irure dolor in re
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end section -->

<!-- section -->
<section class="section blue_pattern_bg" style="background-color: #3b3bff">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="full">
          <h4>Subscribe Now to Our Newsletter !</h4>
          <p>
            adipiscing elit, sed do eiusmod tempor incididunt ut<br />labore et
            dolore magna aliqua.
          </p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form_subribe">
          <form>
            <input type="email" name="email" placeholder="Enter Your Email" />
            <button>Subscribe</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end section -->

<!-- footer -->
<footer class="footer layout_padding">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-12">
        <a href="index.html"
          ><img
            class="img-responsive"
            style="width: 200px; height: 150px"
            src="{% static 'images/firstlogo.png' %}"
            alt="#"
        /></a>
        <div class="footer_link_heading">
          <div class="footer_menu margin_top_30">
            <ul>
              <li><a href="tel:08107450937">08107450937</a></li>
              <li><a href="#">firststepschl@gmail.com</a></li>
              <li>
                <a href="#">27 Armoc Street Orerokpe Delta State, Nigeria</a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-md-8">
        <div class="row">
          <div class="col-md-4 col-sm-12">
            <div class="footer_link_heading">
              <h3>FEATURED NEWS</h3>
            </div>
            <div class="footer_menu">
              <ul>
                <li><a href="#">Starting Soon</a></li>
                <li><a href="#">Just Added</a></li>
                <li><a href="#">Most Viewed</a></li>
                <li><a href="#">Top Paid</a></li>
              </ul>
            </div>
          </div>

          <div class="col-md-4 col-sm-12">
            <div class="footer_link_heading">
              <h3>CATEGORIES</h3>
            </div>
            <div class="footer_menu">
              <ul>
                <li><a href="#">Design</a></li>
                <li><a href="#">Business</a></li>
                <li><a href="#">addmissiom</a></li>
                <li><a href="#">Entry News</a></li>
              </ul>
            </div>
          </div>

          <div class="col-md-4 col-sm-12">
            <div class="footer_link_heading">
              <h3>USEFUL LINKS</h3>
            </div>
            <div class="footer_menu">
              <ul>
                <li><a href="#">FAQs</a></li>
                <li><a href="#">Stories</a></li>
                <li><a href="#">Login</a></li>
                <li><a href="#">Privacy policy</a></li>
                <li><a href="#">Contact Us</a></li>
                <li><a href="#">Jobs and vacancies</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<div class="cpy">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <p>
          Copyright 2022. All Rights Reserved.<a href="https://html.design/"
            >DinStack</a
          >
        </p>
      </div>
    </div>
  </div>
</div>
<!-- end footer -->
{% endblock %}
