{% extends 'base.html' %}
<!-- vastin  -->
{% load static %}
<!-- frepo on the move -->
{% block content %}
<div class="card-body">
  <div class="heading-layout1">
    <div class="item-title">
      <h3>login</h3>
    </div>
    <div class="dropdown">
      <a
        class="dropdown-toggle"
        href="#"
        role="button"
        data-toggle="dropdown"
        aria-expanded="false"
        >...</a
      >

      <div class="dropdown-menu dropdown-menu-right">
        <a class="dropdown-item" href="#"
          ><i class="fas fa-times text-orange-red"></i>Close</a
        >
        <a class="dropdown-item" href="#"
          ><i class="fas fa-cogs text-dark-pastel-green"></i>Edit</a
        >
        <a class="dropdown-item" href="#"
          ><i class="fas fa-redo-alt text-orange-peel"></i>Refresh</a
        >
      </div>
    </div>
  </div>
  <form class="new-added-form" data-select2-id="18" method="POST">
    {% csrf_token %}
    <div class="row">
      <div class="col-xl-3 col-lg-6 col-12 form-group">
        <label>Username</label>
        <input
          id="username"
          name="username"
          type="text"
          placeholder="e.g. obus@gmail.com"
          class="form-control"
        />
      </div>

      <div class="col-xl-3 col-lg-6 col-12 form-group">
        <label>Password</label>
        <input
          id="password"
          name="password"
          type="password"
          placeholder="&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;"
          class="form-control"
        />
      </div>
      <div class="col-12 form-group mg-t-8">
        <button
          type="submit"
          class="btn-fill-lg btn-gradient-yellow btn-hover-bluedark"
          value="login"
        >
          Login
        </button>
      </div>
    </div>
  </form>
</div>
{% endblock %}
