{% extends 'base.html' %}
<!-- vastin  -->
{% load static %}
<!-- frepo on the move -->
{% block content %}
<!-- add code here  -->
<div id="preloader"></div>
<!-- Preloader End Here -->
<div id="wrapper" class="wrapper bg-ash">
  <!-- Header Menu Area Start Here -->
  {% include 'schoolmgt/teacher_nav.html' %}
  <!-- Header Menu Area End Here -->
  <!-- Page Area Start Here -->
  <div class="dashboard-page-one">
    <!-- Sidebar Area Start Here -->
    {% include 'schoolmgt/teacher_sidebar.html' %}
    <!-- Sidebar Area End Here -->
    <div class="dashboard-content-one">
      <!-- Breadcubs Area Start Here -->
      <div class="breadcrumbs-area">
        <h3>Welcome {{teacher.user.first_name}} {{teacher.user.last_name}}</h3>
        <ul>
          {% if teacher.basic == None %}
          <li>
            Class Not yet Assigned
            <a
              href="#"
              style="
                :hover {
                  color: red;
                }
                cursor: pointer;
              "
              >Contact Admin</a
            >
          </li>
          {% else %}
          <li>Teachers Dashboard for {{teacher.basic}}</li>
          {% endif %}
        </ul>
      </div>
      <!-- Breadcubs Area End Here -->
      <div class="row">
        <!-- Dashboard summery Start Here -->
        <div class="col-12 col-4-xxxl">
          <div class="row">
            <div class="col-6-xxxl col-lg-3 col-sm-6 col-12">
              <div class="dashboard-summery-two">
                <div class="item-icon bg-light-magenta">
                  <i class="flaticon-classmates text-magenta"></i>
                </div>
                <div class="item-content">
                  <div class="item-number">
                    <span class="counter" data-num="{{students.count}}"
                      >{{students.count}}</span
                    >
                  </div>
                  <div class="item-title">Students in {{teacher.basic}}</div>
                </div>
              </div>
            </div>
            <div class="col-6-xxxl col-lg-3 col-sm-6 col-12">
              <div class="dashboard-summery-two">
                <div class="item-icon bg-light-blue">
                  <i class="flaticon-shopping-list text-blue"></i>
                </div>
                <div class="item-content">
                  <div class="item-number">
                    <span class="counter" data-num="{{subject.count}}"
                      >{{subject.count}}</span
                    >
                  </div>
                  <div class="item-title">Total C.A & Exams</div>
                </div>
              </div>
            </div>
            <div class="col-6-xxxl col-lg-3 col-sm-6 col-12">
              <div class="dashboard-summery-two">
                <div class="item-icon bg-light-yellow">
                  <i class="flaticon-mortarboard text-orange"></i>
                </div>
                <div class="item-content">
                  <div class="item-number">
                    <span class="counter" data-num="{{students.count}}"
                      >{{students.count}}</span
                    >
                  </div>
                  <div class="item-title">Graduating Students</div>
                </div>
              </div>
            </div>
            <div class="col-6-xxxl col-lg-3 col-sm-6 col-12">
              <div class="dashboard-summery-two">
                <div class="item-icon bg-light-red">
                  <i class="flaticon-money text-red"></i>
                </div>
                <div class="item-content">
                  <div class="item-number">
                    <span>₦</span
                    ><span class="counter" data-num="{{teacher.salary}}"
                      >{{teacher.salary}}</span
                    >
                  </div>
                  <div class="item-title">Total Income</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Dashboard summery End Here -->
        <!-- Students Chart End Here -->
        <div class="col-lg-6 col-4-xxxl col-xl-6">
          <div class="card dashboard-card-three">
            <div class="card-body">
              <div class="heading-layout1">
                <div class="item-title">
                  <h3>My Students and Calender</h3>
                </div>
                <div class="dropdown">
                  <a
                    class="dropdown-toggle"
                    href="#"
                    role="button"
                    data-toggle="dropdown"
                    aria-expanded="false"
                    >...</a
                  >

                  <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="#"
                      ><i class="fas fa-times text-orange-red"></i>Close</a
                    >
                    <a class="dropdown-item" href="#"
                      ><i class="fas fa-cogs text-dark-pastel-green"></i>Edit</a
                    >
                    <a class="dropdown-item" href="#"
                      ><i class="fas fa-redo-alt text-orange-peel"></i
                      >Refresh</a
                    >
                  </div>
                </div>
              </div>
              <div width="150px" height="250px" class="calender-wrap">
                <div id="calendar"></div>
              </div>
              <div class="student-report" style="margin-top: 3rem">
                <div class="student-count pseudo-bg-blue">
                  <h4 class="item-title">male</h4>
                  <div class="item-number">{{data.male}}</div>
                </div>
                <div class="student-count pseudo-bg-yellow">
                  <h4 class="item-title">female</h4>
                  <div class="item-number">{{data.female}}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Students Chart End Here -->
        <!-- Notice Board Start Here -->
        <div class="col-lg-6 col-4-xxxl col-xl-6">
          <div class="card dashboard-card-six">
            <div class="card-body">
              <div class="heading-layout1 mg-b-17">
                <div class="item-title">
                  <h3>Notifications</h3>
                </div>
                <div class="dropdown">
                  <a
                    class="dropdown-toggle"
                    href="#"
                    role="button"
                    data-toggle="dropdown"
                    aria-expanded="false"
                    >...</a
                  >

                  <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="#"
                      ><i class="fas fa-times text-orange-red"></i>Close</a
                    >
                    <a class="dropdown-item" href="#"
                      ><i class="fas fa-cogs text-dark-pastel-green"></i>Edit</a
                    >
                    <a class="dropdown-item" href="#"
                      ><i class="fas fa-redo-alt text-orange-peel"></i
                      >Refresh</a
                    >
                  </div>
                </div>
              </div>
              <div class="notice-board-wrap">
                {% for notice in notices %}
                <div class="notice-list">
                  <div class="post-date bg-skyblue">
                    {{notice.updated|date}}
                  </div>
                  <h6 class="notice-title">
                    <a href="#">{{notice.body}}</a>
                  </h6>
                  <div class="entry-meta">
                    {{notice.user.first_name}} {{notice.user.last_name}} /
                    <span>{{notice.created|timesince}}</span>
                  </div>
                </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
        <!-- Notice Board End Here -->
      </div>
      <!-- Student Table Area Start Here -->

      <div class="row">
        <div class="col-lg-12">
          <div class="card da shboard-card-eleven">
            <div class="card-body">
              <div class="heading-layout1">
                <div class="item-title">
                  <h3>My Students</h3>
                </div>
                <div class="dropdown">
                  <a
                    class="dropdown-toggle"
                    href="#"
                    role="button"
                    data-toggle="dropdown"
                    aria-expanded="false"
                    >...</a
                  >

                  <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="#"
                      ><i class="fas fa-times text-orange-red"></i>Close</a
                    >
                    <a class="dropdown-item" href="#"
                      ><i class="fas fa-cogs text-dark-pastel-green"></i>Edit</a
                    >
                    <a class="dropdown-item" href="#"
                      ><i class="fas fa-redo-alt text-orange-peel"></i
                      >Refresh</a
                    >
                  </div>
                </div>
              </div>
              <div class="table-box-wrap">
                <form class="search-form-box" method="GET">
                  <div class="row gutters-8">
                    <div class="col-4-xxxl col-xl-4 col-lg-4 col-12 form-group">
                      <input
                        type="text"
                        placeholder="Search by Name ..."
                        class="form-control"
                        name="q1"
                        value="{{q1}}"
                      />
                    </div>
                    <div class="col-4-xxxl col-xl-3 col-lg-3 col-12 form-group">
                      <input
                        type="text"
                        placeholder="Search by Class ..."
                        class="form-control"
                        name="q2"
                        value=""
                      />
                    </div>
                    <div class="col-1-xxxl col-xl-2 col-lg-2 col-12 form-group">
                      <button
                        type="submit"
                        class="fw-btn-fill btn-gradient-yellow"
                      >
                        SEARCH
                      </button>
                    </div>
                  </div>
                </form>
                <div class="table-responsive student-table-box">
                  <table class="table display data-table text-nowrap">
                    <thead>
                      <tr>
                        <th>
                          <div class="form-check">
                            <input
                              type="checkbox"
                              class="form-check-input checkAll"
                            />
                            <label class="form-check-label">Roll</label>
                          </div>
                        </th>
                        <th>Photo</th>
                        <th>Name</th>
                        <th>Gender</th>
                        <th>Class</th>
                        <th>Section</th>
                        <th>Parents</th>
                        <th>Address</th>
                        <th>Date Of Birth</th>
                        <th>Phone</th>
                        <th>E-mail</th>
                        <th>Edit</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for student in student_list %}
                      <tr>
                        <td>
                          <div class="form-check">
                            <input type="checkbox" class="form-check-input" />
                            <label class="form-check-label"
                              >#00{{student.id}}</label
                            >
                          </div>
                        </td>
                        <td class="text-center">
                          <img
                            src="{{student.image.url}}"
                            alt="student"
                            style="
                              border-radius: 15px;
                              width: 30px;
                              height: 30px;
                            "
                          />
                        </td>
                        <td>
                          {{student.user.first_name}} {{student.user.last_name}}
                        </td>
                        <td>{{student.user.gender}}</td>
                        <td>{{student.basic}}</td>
                        <td>First term</td>
                        <td>{{student.fathers_name}}</td>
                        <td>{{student.address}}</td>
                        <td>{{student.birthday}}</td>
                        <td>{{student.user.phone_number}}</td>
                        <td>{{student.user.email}}</td>
                        <td>
                          <div class="dropdown">
                            <a
                              href="#"
                              class="dropdown-toggle"
                              data-toggle="dropdown"
                              aria-expanded="false"
                            >
                              <span
                                class="flaticon-more-button-of-three-dots"
                              ></span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right">
                              <a class="dropdown-item" href="#"
                                ><i class="fas fa-times text-orange-red"></i
                                >Close</a
                              >
                              <a
                                class="dropdown-item"
                                href="{% url 'capage' student.id %}"
                                ><i
                                  class="fas fa-cogs text-dark-pastel-green"
                                ></i
                                >Edit</a
                              >
                              <a class="dropdown-item" href="#"
                                ><i class="fas fa-redo-alt text-orange-peel"></i
                                >Refresh</a
                              >
                            </div>
                          </div>
                        </td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Student Table Area End Here -->
      <footer class="footer-wrap-layout1">
        <div class="copyright">
          © Copyrights <a href="#">Dinstack</a> 2022. All rights reserved.
          Designed by <a href="#">MonkeyBand</a>
        </div>
      </footer>
    </div>
  </div>
  <!-- Page Area End Here -->
</div>
{% endblock %}
