{% load static %}
<div class="sidebar-main sidebar-menu-one sidebar-expand-md sidebar-color">
  <div class="mobile-sidebar-header d-md-none">
    <div class="header-logo">
      <a href="{% url 'teacher' user.id %}"
        ><img
          src="{% static 'images/firstlogo.png' %}"
          alt="logo"
          width="55px"
          height="55px"
      /></a>
    </div>
  </div>
  <div class="sidebar-menu-content">
    <ul class="nav nav-sidebar-menu sidebar-toggle-view">
      <li class="nav-item sidebar-nav-item">
        <a href="{% url 'teacher' user.id %}" class="nav-link"
          ><i class="flaticon-dashboard"></i><span>Teachers Dashboard</span></a
        >
      </li>

      <li class="nav-item sidebar-nav-item">
        <a href="{% url 'teacher-details' %}" class="nav-link"
          ><i class="flaticon-multiple-users-silhouette"></i
          ><span>Teachers Details</span></a
        >
      </li>
      <li class="nav-item">
        <a href="{% url 'teacher-notice' %}" class="nav-link"
          ><i class="flaticon-script"></i><span>Notice</span></a
        >
      </li>
    </ul>
  </div>
</div>
