<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>FirstStep | Teacher</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.html" />
    <!-- Normalize CSS -->
    <link
      rel="stylesheet"
      href="{% static 'css/normalize.css' %}"
      rel="stylesheet"
    />
    <!-- Main CSS -->
    <link
      rel="stylesheet"
      rel="stylesheet"
      href="{% static 'css/main1.html' %}"
    />
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="{% static 'css/bootstrap.min.css' %}"
      rel="stylesheet"
    />
    <!-- Fontawesome CSS -->
    <link
      rel="stylesheet"
      href="{% static 'css/all.min.css' %}"
      rel="stylesheet"
    />
    <!-- Flaticon CSS -->
    <link
      rel="stylesheet"
      href="{% static 'fonts/flaticon.css' %}"
      rel="stylesheet"
    />
    <!-- Animate CSS -->
    <link
      rel="stylesheet"
      href="{% static 'css/animate.min.css' %}"
      rel="stylesheet"
    />
    <!-- Select 2 CSS -->
    <link
      rel="stylesheet"
      href="{% static 'css/select2.min.css' %}"
      rel="stylesheet"
    />
    <!-- Date Picker CSS -->
    <link
      rel="stylesheet"
      href="{% static 'css/datepicker.min.css' %}"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{% static 'css/jquery.dataTables.min.css' %}"
    />
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'style1.css' %}" rel="stylesheet" />
    <!-- Modernize js -->
    <script src="{% static 'js/modernizr-3.6.0.min.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.7/index.global.min.js"></script>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        var calendarEl = document.getElementById("calendar");
        var calendar = new FullCalendar.Calendar(calendarEl, {
          initialView: "dayGridMonth",
        });
        calendar.render();
      });
    </script>
    <script src="{% static 'js/Chart.umd.js' %}"></script>
  </head>
  <body>
    {% if messages %}
    <ul class="messages">
      {% for message in messages %}
      <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>
        {{ message }}
      </li>
      {% endfor %}
    </ul>
    {% endif %}
    <!-- block content -->
    {% block content %}
    <!-- add code here  -->

    {% endblock %}
    <script src="{% static 'js/jquery-3.3.11.min.js' %}"></script>
    <!-- Plugins js -->
    <script src="{% static 'js/plugins.js' %}"></script>
    <!-- Popper js -->
    <script src="{% static 'js/popper.min.js' %}"></script>
    <!-- Bootstrap js -->
    <script src="{% static 'js/bootstrap1.min.js' %}"></script>
    <!-- Select 2 Js -->
    <script src="{% static 'js/select2.min.js' %}"></script>
    <!-- Date Picker Js -->
    <script src="{% static 'js/datepicker.min.js' %}"></script>
    <!-- Counterup Js -->
    <script src="{% static 'js/jquery.counterup.min.js' %}"></script>
    <!-- Waypoints Js -->
    <script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
    <!-- sooth scrool -->
    <script src="{% static 'js/jquery.smoothscroll.min.html' %}"></script>
    <!-- Scroll Up Js -->
    <script src="{% static 'js/jquery.scrollUp.min.js' %}"></script>
    <!-- data tables -->
    <script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
    <!-- Chart Js -->
    <script src="{% static 'js/Chart.min.js' %}"></script>
    <!-- Custom Js -->
    <script src="{% static 'js/main1.js' %}"></script>
    <!-- myjs.js -->
    <script src="{% static 'js/myjs.js' %}"></script>
  </body>
</html>

<!-- jquery-->
